services:
  - type: web
    name: socketio-chat-api
    env: node
    plan: free
    rootDir: server
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: PORT
        value: '10000'
      - key: FRONTEND_URL
        value: https://socketio-chat.vercel.app


